
  <%= simple_form_for(@rider) do |f| %>
  <%= f.error_notification %>
<div class="container">
  <div class="control-group">
  	<%= f.label :Firstname,class: 'control-label' %>
    <div class="medium-input">
      <%= f.text_field :first_name, id: :title, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
  	<%= f.label :Lastname,class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, id: :description, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
  	<%= f.label :City,class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, id: :address, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :State,class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, id: :address, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude,class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, id: :address, class: "form-control" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude,class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, id: :address, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
